*:not(h1) {
    border: 1px solid red;
    box-sizing: border-box;
}

.wrap {
    width: 1000px;
    height: 800px;
    margin: auto;
}

header {
    height: 20%;
}

section {
    height: 60%;
}

section>article {
    height: 100%;
    float: left;
}

#content1 {
    width: 20%;
}
#content2 {
    width: 80%;
}

footer {
    height: 20%;
}