.trans-test {
    width: 350px;
    height: 250px;
    margin-left: 50px;
}

/* 2차원 변형 */
#trans2-1:hover {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
}

#trans2-2:hover {
    transform: translateY(-50px);
}

#trans2-3:hover {
    /* transform: translate(50px, 50px); */
    transform: translateX(50px) translateY(50px);
}

#trans2-4:hover {
    transform: scaleX(.5);
}

#trans2-5:hover {
    transform: scaleY(2);
}

#trans2-6:hover {
    /* transform: scale(-0.5); */
    transform: scaleX(.5) scaleY(.5);
}

#trans2-7:hover {
    transform: rotate(-45deg);
}

#trans2-8:hover {
    transform: skewX(-20deg);
}

#trans2-9:hover {
    transform: skewY(20deg);
}

#trans2-10:hover {
    /* transform: skew(10deg, 10deg); */
    transform: skewX(20deg) skewY(20deg);
}

/* 3차원 변형 */
#trans3-1:hover {
    transform: perspective(300px) translate3d(100px, 100px, 100px);
}

#trans3-2:hover {
    transform: perspective(1000px) translateZ(-500px);
}

#trans3-3:hover {
    transform: perspective(300px) rotateX(30deg);
}

#trans3-4:hover {
    transform: perspective(300px) rotateY(-180deg);
}

#trans3-5:hover {
    transform: perspective(300px) rotateZ(30deg)
}

#trans3-6:hover {
    transform: perspective(300px) rotate3d(0.5, 1, 0, 45deg)
}